ipch/*
*.obj
*.exe
*.pdb
*.opensdf
*.tlog
*.unsuccessfulbuild
*.pch
*.log
*.obj
*.lastbuildstate
*.ilk
*.ipch
*.suo
*.sdf
[Dd]ebug*/
[Rr]elease*/
x64/*
ProjectSpaceshooter/x64/*
ProjectSpaceshooter/Debug/*
ProjectSpaceshooter/Release/*
*.suo

/Game/CodeGeneration.Log.xml
*.orig
/ogre.cfg
Libs/
Libs32.rar
Libs32/
